name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: W3C HTML Validation
      id: w3c-html-validation
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: W3C HTML Validation
        setup-command: npm install html-w3c-validator
        command: npx html-w3c-validator
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        W3C-HTML-VALIDATION_RESULTS: "${{steps.w3c-html-validation.outputs.result}}"
      with:
        runners: w3c-html-validation
